.about-container {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  /* height: 100vh; */
  align-items: stretch;
  background-color: #f0f0f0;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap; /* Allows wrapping of elements as the screen shrinks */
}

.about-left,
.about-middle,
.about-right {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  width: 33.33333%; /* Default width */
}

.about-left {
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #d5d5d5;
  padding: 50px;
  padding-top: 150px;
  box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.about-middle {
  justify-content: flex-end;
  align-items: center;
  background-color: #f0f0f0;
  /* padding: 50px 0 0 0; */
}

.about-right {
  justify-content: flex-start;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0px;
  min-height: 100vh;
}

.logo2 {
  width: 60px;
  height: auto;
  margin-left: 20px;
  margin-right: auto;
}

.highlight {
  color: #312783;
}

.about-left h1 {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 10px;
  font-family: 'Kumbh Sans', sans-serif;
  margin-left: 20px;
  margin-right: auto;
}

.about-description {
  font-size: 19px;
  font-weight: 350;
  line-height: 1.6;
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 270px;
}

.about-middle h2 {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding: 10px;
}

.about-story {
  font-size: 17px;
  line-height: 1.7;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 15px;
}

.laptop-pic {
  width: 100%;
  height: 45%;
  object-fit: cover;
  margin-left: 0px;
}

.middle-top {
  /* padding-top: 80px; */
  padding-left: 10px;
  padding-right: 10px;
}

.group-pic {
  height: 50%;
  width: 100%;
  object-fit: cover;
  margin-top: 75px;
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.99),
    rgba(0, 0, 0, 0.99),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.99),
    rgba(0, 0, 0, 0.99),
    rgba(0, 0, 0, 0)
  );
}

.team-intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0px;
  margin: 0px;
  /* background-color: green; */
}

.team-intro h2 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 100%;
}

.team-members {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin: 0px;
  /* padding: 5px; */
}

.team-member {
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.team-member p {
  margin: 0px;
  font-size: 15px;
  margin-top: 5px;
  width: 150px;
}

.team-member .role {
  font-weight: 300;
  color: #555;
  margin-top: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

.member-pic {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
  .about-container {
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
  }
  .group-pic {
    margin-top: 0px;
    height: auto;
    width: 100%;
    object-fit: cover;
    margin-left: 0px;
    margin-right: 0px;
  }

  .about-left,
  .about-middle {
    width: 50%; /* Stack two sections side by side */
    height: auto;
  }

  .about-right {
    width: 100%; /* Move about-right below about-left and about-middle */
    height: auto;
  }
  .team-member {
    /* margin-left: 10px;
    margin-right: 10px; */
  }
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
    height: auto;
  }

  .about-left,
  .about-middle,
  .about-right {
    width: 100%; /* Stack all sections vertically */
    height: auto;
    /* padding: 100px; */
  }

  .about-middle {
    padding: 10px;
  }

  /* .laptop-pic,
  .group-pic {
    height: auto;
    max-height: 30vh;
    margin-top: 10px;
  } */

  .laptop-pic {
    display: none;
  }
}

@media screen and (max-width: 938px) {
  .about-middle {
    padding-top: 80px;
  }
}
