body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/*  */

.pollContainer {
  background-color: whitesmoke;
  padding-top: 60px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* align-items: center; */
  width: 100vw;
  min-height: 85vh;
  z-index: 10;
  margin: 0;
  margin-bottom: 30px;
  /* margin-bottom: 100px; */
  z-index: 10;
}

.header {
  text-align: left;
  width: 100%;
  padding: 10px;
}

.mainTitle {
  font-size: 50px;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 20px;
  margin-left: 20px;
  /* margin-top: 20px; */
}
.mainTitleQuestion {
  font-size: 50px;
  font-family: 'Kumbh Sans', sans-serif;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 20px;
  color: #312783;
}

h2 {
  margin-bottom: 20px;
}

.candidates {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-left: 5px;
  /* padding-right: 5px; */
  /* width:30%; */
  gap: 20px;
}

.candidate-card {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.231), 0 6px 10px rgba(0, 0, 0, 0.284);
  overflow: hidden;
  /* width: auto; */
  height: 300px;
  text-align: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
}

.candidate-card-many-options {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.231), 0 6px 10px rgba(0, 0, 0, 0.284);
  overflow: hidden;
  /* width: 300px; */
  height: 260px;
  text-align: center;
  margin-right: 0px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
}

.candidate-card-mobile {
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.231), 0 6px 10px rgba(0, 0, 0, 0.284);
  overflow: hidden;
  /* width: 300px; */
  height: 130px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  text-align: center;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
  padding-left: 10px;
}

.candidate-card:hover {
  background-color: #f9f9f9;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.455), 0 12px 15px rgba(0, 0, 0, 0.419);
}

.candidate-card-many-options {
  background-color: #f9f9f9;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.455), 0 12px 15px rgba(0, 0, 0, 0.419);
}

.candidate-card-mobile {
  background-color: #f9f9f9;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.455), 0 12px 15px rgba(0, 0, 0, 0.419);
}

.candidate-card-many-options.selected {
  background: linear-gradient(
    to right,
    #312783 0%,
    #1c164a 33%,
    #0b091d 67%,
    #4a2342 100%
  );
}

.candidate-card-mobile.selected {
  background: linear-gradient(
    to right,
    #312783 0%,
    #1c164a 33%,
    #0b091d 67%,
    #4a2342 100%
  );
}

.candidate-card.selected {
  background: linear-gradient(
    to right,
    #312783 0%,
    #1c164a 33%,
    #0b091d 67%,
    #4a2342 100%
  );
}

.candidate-card img {
  width: auto;
  height: 100%;
  object-fit: cover;
  margin-bottom: 0;
}
.candidate-card-many-options img {
  /* width: 55%; */
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.candidate-card-mobile img {
  /* width: 55%; */
  height: 100%;
  object-fit: cover;
  margin: 0;
}

.candidate-info {
  padding: 15px;
  /* background-color: #27003c; */
}

.candidate-info h2 {
  font-size: 15px;
}

.candidate-info p {
  font-size: 14px;
  color: #555;
}

.vote-button {
  cursor: pointer;
  color: #fff !important;
  text-decoration: none;
  background: linear-gradient(
    to right,
    #312783 0%,
    #1c164a 33%,
    #0b091d 67%,
    #4a2342 100%
  );
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 10px;
  border-radius: 5px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 25px;
  min-width: 120px;
  z-index: 10;
}

.passp {
  /* font-size: 30px; */
  color: #2a008b; /* Gradient colors */
  /* background-clip:content-box;
    -webkit-background-clip: text;
    color: transparent; */
  margin-top: 0;
  margin-left: 10px;
  margin-bottom: 10px;
  /* font-weight:700; */
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  min-width: 90vw;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  z-index: 10;
  /* background-color: whitesmoke; */
}

.poll-class {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 55px;
  color: rgba(200, 200, 200, 0.772); /* Light gray color with opacity */
  margin-bottom: 0;
  margin-top: 0;
}

.Falcons {
  font-size: 28px;
  background: linear-gradient(
    to right,
    #e7b616a6,
    #dcdcdc
  ); /* Gradient colors */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 0;
  font-weight: 700;
}

.Hawks {
  font-size: 28px;
  background: linear-gradient(
    to right,
    #e71616a6,
    #dcdcdc
  ); /* Gradient colors */
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 0;
  font-weight: 700;
}

.Eagles {
  font-size: 28px;
  background: linear-gradient(
    to right,
    #1627e7a6,
    #dcdcdc
  ); /* Gradient colors */
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 0;
  font-weight: 700;
}

.Kites {
  font-size: 28px;
  background: linear-gradient(
    to right,
    #009d18a6,
    #dcdcdc
  ); /* Gradient colors */
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 0;
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  .mainTitleQuestion,
  .mainTitle {
    font-size: 35px;
  }
}
