.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin: 15px;
  width: 350px;
  max-height:800px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for depth */
}

.fileUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 25px;
  margin-bottom: 20px; /* Increased margin for separation */
}

h1 {
  font-size: 24px;
  /* margin-bottom: 10px; */
}

h2 {
  font-size: 18px;
  max-width: 300px;
  /* margin-bottom: 10px; */
}

.passp {
  color: red;
  margin:0;
  margin-top: 5px;
  /* font-size: 14px; */
}

.button {
  background-color: #4600b6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.button:hover {
  background-color: #17005c;
}

.selectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.joinInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
}

ol {
  max-height: 100px;
  overflow-y: auto;
  background-color: #dedede;
  padding-top: 5px;
  padding-left: 20px; /* Added padding for list items */
  border-radius: 10px;
  margin-bottom: 20px; /* Increased margin for separation */
}

.optionItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.optionImg {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
  border-radius: 5px; /* Rounded corners for images */
}
